**.Ds_Store

**.pyc

# doc
doc/*.aux
doc/*.log
doc/*.out
doc/*.toc
doc/*.synctex.gz
#doc/*.pdf
doc/*_timesheet.tex
doc/*_timesheet.pdf
doc/presentation_nrcan/*
doc/figures/slides/*
doc/figures/*.zip
doc/HFE_database_2022Q03_meeting_20220915.*
doc/HFE_database_2022Q03_meeting_20220929.*

# test-data
src/test-data/CMC*.grib2
src/test-data/check_summary.json

# data that will get downloaded
data/geomet/*.grib2
data/caspar/rdrs_v2.1/*.nc
data/caspar/rdrs_v2.1/check_summary.json

# outputs
data/output/analyse_occurrence_*
data/output/analyse_event_*
