**.Ds_Store

**.pyc

# doc
doc/*.aux
doc/*.log
doc/*.out
doc/*.synctex.gz
doc/*.pdf
doc/presentation_nrcan/*

# test-data
src/test-data/CMC*.grib2

# data that will get downloaded
data/geomet/*.grib2
data/caspar/*.nc
