appnope==0.1.3
asttokens==2.0.8
attrs==22.1.0
backcall==0.2.0
basemap==1.3.4
basemap-data==1.3.2
certifi==2023.7.22
cftime==1.6.1
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cycler==0.11.0
decorator==5.1.1
executing==0.10.0
Fiona==1.8.21
fonttools==4.37.1
GDAL==3.2.1
geopandas==0.11.1
iniconfig==1.1.1
ipython==8.10.0
jedi==0.18.1
kiwisolver==1.4.4
matplotlib==3.5.3
matplotlib-inline==0.1.6
munch==2.5.0
netCDF4==1.6.0
numpy==1.23.2
packaging==21.3
pandas==1.4.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.1
pluggy==1.0.0
prompt-toolkit==3.0.30
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
Pygments==2.15.0
pygrib==2.1.4
pyparsing==3.0.9
pyproj==3.3.1
pyshp==2.3.1
pytest==7.1.2
python-dateutil==2.8.2
pytz==2022.2.1
scipy==1.10.0
Shapely==1.8.4
six==1.16.0
stack-data==0.4.0
tomli==2.0.1
traitlets==5.3.0
wcwidth==0.2.5
xarray==2022.6.0
